<?xml version="1.0"?>
<!--
/**
 * @category  Netresearch
 * @package   Netresearch_Magebid
 * @author    André Herrn <andre.herrn@netresearch.de>
 * @copyright 2010 André Herrn | Netresearch GmbH & Co.KG (http://www.netresearch.de)
 * @link      http://www.magebid.de/
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Netresearch_Magebid>
            <version>0.7.0</version>
        </Netresearch_Magebid>
    </modules>
	
    <global>    	
        <models>
           <magebid>
               <class>Netresearch_Magebid_Model</class>
                <resourceModel>magebid_mysql4</resourceModel>
            </magebid>


			
            <magebid_mysql4>
                <class>Netresearch_Magebid_Model_Mysql4</class>
                <entities>
                    <templates>
                        <table>magebid_templates</table>
                    </templates>					
                    <payments>
                        <table>magebid_payment_methods</table>
                    </payments>	
                    <shipping>
                        <table>magebid_shipping_methods</table>
                    </shipping>	
                    <profile>
                        <table>magebid_profile</table>
                    </profile>	
                    <auction>
                        <table>magebid_auction</table>
                    </auction>	
                    <ebay_status>
                        <table>magebid_ebay_status</table>
                    </ebay_status>											
                    <auction_detail>
                        <table>magebid_auction_detail</table>
                    </auction_detail>	
                    <auction_type>
                        <table>magebid_auction_type</table>
                    </auction_type>		
                    <transaction>
                        <table>magebid_transaction</table>
                    </transaction>											
                    <transaction_user>
                        <table>magebid_transaction_user</table>
                    </transaction_user>	
					<import_shipping>
						<table>magebid_import_shipping_methods</table>
					</import_shipping>		
					<import_payment>
						<table>magebid_import_payment_methods</table>
					</import_payment>	
					<import_policy>
						<table>magebid_import_return_policy</table>
					</import_policy>						
					<import_category>
						<table>magebid_import_category</table>
					</import_category>		
					<import_category_features>
						<table>magebid_import_category_features</table>
					</import_category_features>										
                    <transaction_status>
                        <table>magebid_transaction_status</table>
                    </transaction_status>	
					<listing_enhancement>
						<table>magebid_listing_enhancement</table>
					</listing_enhancement>		
					<mapping>
						<table>magebid_mapping</table>
					</mapping>	
					<configuration>
						<table>magebid_configuration</table>
					</configuration>		
					<log>
						<table>magebid_log</table>
					</log>																			
					<daily_log>
						<table>magebid_daily_log</table>
					</daily_log>	
                </entities>
            </magebid_mysql4>
        </models>

         <helpers>
            <magebid><class>Netresearch_Magebid_Helper</class></magebid>
			<magebid_order><class>Netresearch_Magebid_Helper_Order</class></magebid_order>
        </helpers>
        
		<blocks>
            <magebid>
                <class>Netresearch_Magebid_Block</class>
            </magebid>	
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Netresearch_Magebid_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>					
                </rewrite>
            </adminhtml>				
        </blocks>
		
	    <models>
	      <sales>
	        <rewrite>
	          <order>Netresearch_Magebid_Model_Sales_Order</order>
	        </rewrite>
	      </sales>
	    </models>
		
        <resources>
           <magebid_setup>
               <setup>
                  <module>Netresearch_Magebid</module>
               </setup>
               <connection>
                    <use>core_setup</use>
               </connection>
            </magebid_setup>
            <magebid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magebid_write>
            <magebid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magebid_read>
        </resources>
		
    </global>
   
    <adminhtml>
		<menu>			
			<system>                 
				 <children>				   
				    <magebid translate="title">
                        <title>Magebid</title>
                        <sort_order>30</sort_order>
				        <children>				
							<magebid_auction module="magebid" translate="title">
								<title>Auctions</title>
								<sort_order>50</sort_order>
								<action>magebid/adminhtml_auction_main/</action> 
							</magebid_auction>	
							
							<magebid_transaction module="magebid" translate="title">
								<title>Transactions</title>
								<sort_order>55</sort_order>
								<action>magebid/adminhtml_transaction_main/</action> 
							</magebid_transaction>	
							
							<magebid_configuration module="magebid" translate="title">
								<title>Configuration</title>
								<sort_order>57</sort_order>
								<action>magebid/adminhtml_configuration_main/</action> 
							</magebid_configuration>
												
							<magebid_templates module="magebid" translate="title">
								<title>Templates.</title>
								<sort_order>60</sort_order>
								<action>magebid/adminhtml_templates_main</action>               
							</magebid_templates>

							<magebid_profiles module="magebid" translate="title">
								<title>Profiles</title>
								<sort_order>65</sort_order>
								<action>magebid/adminhtml_profile_main</action>               
							</magebid_profiles>		
							
							<magebid_log module="magebid" translate="title">
								<title>Logs</title>
								<sort_order>75</sort_order>
								<action>magebid/adminhtml_log_main</action>               
							</magebid_log>										
						</children>                 
				    </magebid>	
				</children>
			</system>
			
					
		</menu>	
			
       <translate>
            <modules>
               <Netresearch_Magebid>
                  <files>
                       <default>Netresearch_Magebid.csv</default>
                   </files>
               </Netresearch_Magebid>
           </modules>
       </translate>			
			
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<!-- Magebid Menu (System->Magebid)-->
				        <system>
				            <children>
				                <magebid translate="title">
				                    <title>Magebid</title>
									<sort_order>30</sort_order>
				                    <children>
				                         <magebid_auction translate="title">
				                             <title>Auctions</title>
				                         </magebid_auction>
				                         <magebid_transaction translate="title">
				                             <title>Transactions</title>
				                         </magebid_transaction>
				                         <magebid_configuration translate="title">
				                             <title>Configuration</title>
				                         </magebid_configuration>
				                         <magebid_templates translate="title">
				                             <title>Templates</title>
				                         </magebid_templates>
				                         <magebid_profiles translate="title">
				                             <title>Profiles</title>
				                         </magebid_profiles>
				                         <magebid_log translate="title">
				                             <title>Logs</title>
				                         </magebid_log>						 
				                   </children>
				                </magebid>
				            </children>
				        </system>
						
						<!-- Magebid Configuration Area (System->Configuration->Magebid)-->
				        <system>
				             <children>
				                  <config>
				                      <children>
				                          <magebid>
				                                <title>Magebid</title>
				                          </magebid>
				                      </children>
				                  </config>
				             </children>
				        </system>
				    </children>
				</admin>
            </resources>
		</acl>
		<layout>
			<updates>
				<magebid>
					<file>magebid.xml</file>
				</magebid>
			</updates>
		</layout>		
    </adminhtml>


   
    <frontend>
        <routers>
            <Netresearch_Magebid>
                <use>standard</use>
                <args>
                    <module>Netresearch_Magebid</module>
                    <frontName>magebid</frontName>
                </args>
            </Netresearch_Magebid>
        </routers>
    </frontend>
	
    <default>
       <magebid>
        <magebid_connection>
             <app_mode>1</app_mode>
			 <ebay_site_id>1</ebay_site_id>
             <token_mode>1</token_mode>
        </magebid_connection>
	  

	    <magebid_paypal>
	    	<active>0</active>
	  	</magebid_paypal>
	    <magebid_banktransfer>
	    	<active>0</active>
	  	</magebid_banktransfer>				

	    <magebid_dhl>
	    	<active>0</active>
	  	</magebid_dhl>
	    <magebid_free_shipping>
	    	<active>0</active>
	  	</magebid_free_shipping>				
	  </magebid>	  
    </default>
		
</config>
